body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 3vw; /* Responsive padding based on viewport width */
}

main {
    max-width: 80%;
    margin: 5vw auto; /* Responsive margin based on viewport width */
    padding: 5vw;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 2vw; /* Responsive border radius based on viewport width */
}

h1 {
    color: #ffffff;
    margin-bottom: 2vw; /* Responsive margin based on viewport width */
}

#profiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2vw; /* Responsive margin based on viewport width */
}

.profile {
    width: 100%;
    max-width: calc(50% - 5vw); /* Responsive max-width based on viewport width */
    border-radius: 2vw;
    overflow: hidden;
    margin-bottom: 2vw; /* Responsive margin based on viewport width */
    padding: 2vw;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: grid;
}

.profile img {
    width: 100%;
    height: auto;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw; /* Responsive margin based on viewport width */
    font-weight: bold;
    padding: 1vw;
    color: #3498db;
}

.prop-text {
    margin-right: 1vw; /* Responsive margin based on viewport width */
}

.health-bar {
    width: 4vw; /* Responsive width based on viewport width */
    height: 20vw; /* Responsive height based on viewport width */
    margin-left: 1vw; /* Responsive margin based on viewport width */
    background-color: #bdc3c7;
    border-radius: 1vw;
    overflow: hidden;
}

.health-fill {
    width: 100%;
    background-color: #3498db;
}

.health-fill:not(:empty) {
    background-color: #3498db;
}

#videoLink {
    display: block;
    margin-top: 2vw; /* Responsive margin based on viewport width */
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

#videoLink:hover {
    color: #2980b9;
}
